# Archivo de ejemplo para variables de entorno
# Copia este archivo a .env y configura los valores reales

RDS_HOST=your_rds_host
RDS_PORT=5432
RDS_USERNAME=your_rds_username
RDS_PASSWORD=your_rds_password
RDS_DATABASE=your_rds_database
